@font-face {
	font-family: "Haettenschweiler";
	src: url("fonts/Haettenschweiler-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "BRLN";
	src: url("fonts/britrln.ttf") format("truetype");
}

@font-face {
	font-family: "BRDN";
	src: url("fonts/britrdn.ttf") format("truetype");
}

html {
	background-color: #333;
	background: url("sitebackground/img (1).jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	background: none;
	margin: 1.5em;
	color: #FFF;
	font-family: "BRLN", helvetica, arial, sans-serif;
	font-size:1.75rem;

}
main {
	background-color: #1117;
	backdrop-filter: blur(8px);
	border-radius: 4px;
}
h1, h2, h3 {
	font-family: "BRDN", sans-serif;
	font-style: italic;
	text-transform: uppercase;
}
h1, h2 { font-size: 4rem; }
h2 {padding-top:.25em; padding-bottom:.1em;}
h3 {font-size: 1.5rem;}
h3:before{content:"llll"; text-transform: lowercase; color:#FFC926;}


a{ color:unset;}
a:hover {color:unset;text-decoration: unset;}

p { line-height: 1.3; font-size:1.5rem; transform:scale(1);}
p a {
	display: inline-block;
	position: relative;
}
p a.italicPad {
	padding-right:.2em;
	margin-right:-.2em;
}
p a:hover {
	text-shadow: 
	2px 2px 0 #111f;
}
p a::before {
	content:"";
	background:#FFC926;
	position: absolute;
	top: 70%;
    bottom: 20%;
    left: 0;
    right: 0;
	z-index: -1;
	transition: top .25s, bottom .25s;
}
p a:hover::before {
	top: 15%;
    bottom: 20%;	
}

.text-green { color:#00DF70; }
.text-blue { color:#00EBFF; }
.text-yellow { color:#FFC926; }
.text-red { color:#FA0032; }

.twitterLinkBox {
	display:inline-block;
	position: absolute;
	top: 30px;
    right: 100px;
}

.twitterLink {
	display:block;
	transform-origin: 0 0;
	transform:scaleY(.75);
	text-shadow: 
	3px 3px 0 #111,
	4px 4px 0 #111;
	padding-right:.25em;
	text-transform: uppercase;
	font-style: italic;
}
.twitterLink::before {
	content:"";
	position: absolute;
	background:#FFC926;
	top: 100%;
    bottom: 9px;
    left: 0;
    right: 0;
    z-index: -1;
	transition: top .25s;
	border-radius: 3px;
}
.twitterLink:hover::before { top:35%;}
.twitterLink:hover .suppressed { opacity:1; }
.twitterLinkRow { height:0px; }
@media (max-width: 1200px) { 
	.twitterLinkRow {
		position: relative;
		margin-right:-50px;
		top:-50px;
	}
}

@media (max-width: 576px) { 
	.responsiveZoom { zoom:.5; }
}


.fa-sub { vertical-align: sub; }
.fa-shadow { text-shadow: 1px 1px 5px #111a; }
.fa-shadow.fa-spin { text-shadow: 0px 0px 5px #111a; }

.turbo {
	-webkit-text-stroke-width: 2.1px;
	-webkit-text-stroke-color: #111;
	text-shadow: 
		1px 1px 0 #111, 
		2px 2px 0 #111, 
		3px 3px 0 #111, 
		4px 4px 0 #111, 
		5px 5px 0 #111,
		6px 6px 0 #111,
		7px 7px 0 #111,
		8px 8px 0 #111;
}
.fallbackFont {
	font-family: arial;
	font-weight: 800;
}
.suppressed {
	opacity:.7;
	transition: opacity .25s;
}
.mainLogo {
	background-color: #1118;
	backdrop-filter: blur(2px);
	border-radius: 50%;
	padding:10%;
	transform: scale(1.25);
}

.showcaseBox {
	display:block;
	margin-bottom:1em;
	background:#111d;
	border-radius: 3px;
	overflow:hidden;
}
.panel .showcaseBox {
	margin:0;
}
.showcaseBox>:first-child { border-radius: 3px 3px 0 0; }
.showcaseBox>:last-child { border-radius: 0 0 3px 3px; }
.showcaseBox h3 {
	position: relative;
	margin-bottom: 0;
	padding-top:.25em;
	font-size:.8em;
	overflow: hidden;
}
.showcaseBox h3>span {
	display: inline-block;
}
.showcaseBox .header {
	text-shadow: 2px 2px 0 #111;
}

a.showcaseBox h3:before {
	content:"";
}
a.showcaseBox .header::before {
	content:"";
	background:#FFC926;
	position: absolute;
	top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
	transition: top .25s, bottom .25s;
	
}
a.showcaseBox:hover .header::before {
	top: 0%;	
}
a.showcaseBox .image img {
	transition: transform .5s;
}
a.showcaseBox:hover .image img {
	transform:scale(1.15);
}
.showcaseBox p {
	padding: .25em;
	margin-bottom:0;
	font-family: "BRDN", sans-serif;
	font-style: italic;
}
.showcaseBox .imgOverlay {
	display: block;
	background:#FFC92633;
	position: absolute;
	top: 100%;
    bottom: 0;
    left: 0px;
    right: 0px;
	transition: top .5s;
}
a.showcaseBox:hover .imgOverlay { top: 0%; }
.showcaseBox .iconOverlay {
	display: block;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	transition: transform .5s, opacity .5s, text-shadow .5s;
	opacity:0%;
	text-shadow: 0px 0px 0px #111;
	transform:scale(1.15);
	overflow:hidden;
}
.showcaseBox:hover .iconOverlay {
	transform:scale(1);
	opacity: 100%;
	text-shadow: 0px 0px 4px #111;
}
.info-row>div {
	background-color:rgba(255, 255, 255, 0);
	transition: background-color .5s;
}
.info-row>div:hover {
	background-color:rgb(255, 255, 255, .05);
}
.info-row>div:not(:last-child) {
	border-right: 1px solid white;
}

a.showcaseBox.yellow .header::before {background:#FFC926;}
.showcaseBox.yellow .imgOverlay {background:#FFC92633;}
a.showcaseBox.red .header::before {background:#FA0032;}
.showcaseBox.red .imgOverlay {background:#FA003233;}
a.showcaseBox.blue .header::before {background:#00EBFF;}
.showcaseBox.blue .imgOverlay {background:#00EBFF33;}
a.showcaseBox.green .header::before {background:#00DF70;}
.showcaseBox.green .imgOverlay {background:#00DF7033;}

.stretchY {
	transform-origin: 0 0;
	transform:scaleY(.75);
	margin-bottom:-25%;
}
.stretchX {
	transform-origin: 0 0;
	transform:scaleX(1.25);
	margin-right:25%;
}
.no-overflow {
	overflow: hidden;
}
.row.no-margin {
	margin-left: 0;
	margin-right:0;
}
.col.no-padding {
	padding-left: 0;
	padding-right:0;
}

.panel {
	background:#111c;
	border-radius: 3px;
	margin:0 1em;
	padding:0.25em .75em 0;
	overflow:hidden;
}

.uppercase {
	text-transform: uppercase;
}

.skinPackChapter {
	background: linear-gradient(90deg, #FA0032, transparent);
	
	padding:.25em;
}
.skinPackChapter.red { background: linear-gradient(90deg, #FA003266, transparent); }
.skinPackChapter.yellow { background: linear-gradient(90deg, #FFC92666, transparent); }
.skinPackChapter.green { background: linear-gradient(90deg, #00DF7066, transparent); }
.skinPackChapter.blue { background: linear-gradient(90deg, #00EBFF66, transparent); }

.skinThumbnail {
	display: inline-block;
	max-height: 32px;
	border-radius: 4px;
	box-shadow: 1px 1px 0px #222;
}

.btn {
	font-family: "BRLN", helvetica, arial, sans-serif;
	height:50px;
    font-size: 1.75rem;
	border-radius:25px;
	color:#eee;
	border-color:#eee;
	background-color: #111c;
	padding:1px;
}

.btn-sm {
	height: 35px;
    font-size: 1.25rem;
	border-radius: 8px;
}
.btn-lg {
	height: 100px;
}
.btn:not(:first-child) {
	margin-left:8px;
}

.btn:hover {
	color:#333;
	border-color:#FFC926;
	background-color: #FFC926;
}
.btn:focus {
	box-shadow: 0 0 0 0.2rem #FFC926;
}
.btn.selected {
	border-color:#FFC926;
	box-shadow: 0 0 0 0.1rem #FFC926;
	background-color:#FFC92633;
}

.btn .icon {
	overflow:hidden;
	height:46px;
	width:46px;
	border-radius: 23px;
	display:inline-block;
}
.btn .icon img {
	height:46px;
}
.btn .label {
	overflow:hidden;
	display:inline-block;
	margin-right:4px;
}
.btn-lg .icon {
	height:96px;
	width:96px;
}
.btn-lg .icon img {
	height:96px;
}
.hidden {
	display:none;
}
.buttonContainer {
	background-color: #666c;
	border-radius:28px;
	margin-bottom:8px;
	padding:2px;
}
.buttonContainer>.col-auto, .buttonContainer>.col, .buttonContainer>.col-12 {
	padding:2px;
}

.skinButton {
	background-color: #666c;
	border-radius:6px;
	margin-bottom:8px;
	overflow:hidden;
	height:unset;
	padding:unset;
}
.skinButton video {
	margin-bottom: -14px;
}

.skinButton p {
	margin-top:2px;
	margin-bottom:-2px;
	font-size:.3em;
	text-align: center;
}
.btn.skinButton:active {
	border-color:#FA0032;
	box-shadow: 0 0 0 0.1rem #FA0032;
	transition: border-color 0s, box-shadow 0s;
}

.environmentControls, .platformControls {
	transition:max-height .5s;
	max-height:200px;
	overflow:hidden;
}
.environmentControls.hidden, .platformControls.hidden {
	display:block;
	max-height:0;
}

@media (max-width: 575.98px) { 
	
 }

@media (max-width: 767.98px) { 
	body {
		margin:0em;
	}
 }

@media (max-width: 991.98px) { 
	.twitterLinkBox {
		top:2px;
		right:10px;
	}
}

@media (max-width: 1199.98px) { }