:root {
  --bg-color: none;
  --ia-color: #121212;
  --a-color: rgb(255 255 255);
  --padding-p: 4px;
  --bar-w: 16px;
  --bar-pad: 8px;
  --box-shadow-normal: inset 0 0 5px 3px #00000033, 0 0 5px 5px #ffffff00;
  --box-shadow-lit: inset 0 0 5px 3px #0000000f, 0 0 12px 5px #ffffff45;

  /* no need to change after here */
  --padding: calc(var(--padding-p)*2);
  --bar-h: calc(var(--bar-w)*3);
  --bar-r: calc(var(--bar-w)/2);
  --bar-c-h: calc(var(--bar-h)*.9);
  --bar-p: calc(var(--padding-p) + var(--bar-w));
  --bar-p-t: calc(var(--bar-p)*2);
  --c-w: calc(var(--bar-p-t) + var(--bar-h));
  --bar-h-t: calc(var(--bar-h)*2);
  --c-h-np: calc(var(--bar-p-t) + var(--bar-h-t));
  --c-h: calc(calc(var(--c-h-np) + var(--padding-p)));
}

.s7s {
  display: inline-block;
  width: var(--c-w);
  height: var(--c-h);
  background: var(--bg-color);
  position: relative;
  margin: 0;
}
.s7s input {
  display: none;
}

.s7s seg {
  background: var(--ia-color);
  border-radius: var(--bar-r);
  height: var(--bar-h);
  width: var(--bar-w);
  box-shadow: var(--box-shadow-normal);
  transition: all .2s;
}
.s7s seg:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: var(--bar-r);
  z-index: 1;
  position: absolute;
  transition: all .2s;
}

.s7s seg:nth-of-type(3n+1) {
  height: var(--bar-w);
  width: var(--bar-h);
  left: 50%;
  margin-left: calc(var(--bar-h) / -2);
}

.s7s seg:nth-of-type(1) {
  position: absolute;
  top: var(--padding);
}

.s7s seg:nth-of-type(2) {
  position: absolute;
  top: var(--bar-p);
  right: var(--padding);
}

.s7s seg:nth-of-type(3) {
  position: absolute;
  bottom: var(--bar-p);
  right: var(--padding);
}

.s7s seg:nth-of-type(4) {
  position: absolute;
  bottom: var(--padding);
}

.s7s seg:nth-of-type(5) {
  position: absolute;
  bottom: var(--bar-p);
  left: var(--padding);
}

.s7s seg:nth-of-type(6) {
  position: absolute;
  top: var(--bar-p);
  left: var(--padding);
}

.s7s seg:nth-of-type(7) {
  position: absolute;
  top: 50%;
  margin-top: calc(var(--bar-r) * -1);
  width: var(--bar-c-h);
  left: 53%;
}

input[value='0'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='0'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='0'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='0'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='0'] ~ seg:nth-of-type(5) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(5):after {
box-shadow: var(--box-shadow-lit);
}

input[value='0'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='0'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}


input[value='1'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='1'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='1'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='1'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}


input[value='2'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='2'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='2'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='2'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='2'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='2'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='2'] ~ seg:nth-of-type(5) {
  background: var(--a-color);
}
input[value='2'] ~ seg:nth-of-type(5):after {
box-shadow: var(--box-shadow-lit);
}

input[value='2'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='2'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}


input[value='3'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='3'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='3'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='3'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='3'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='3'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='3'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='3'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='3'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='3'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}


input[value='4'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='4'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='4'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='4'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='4'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='4'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}

input[value='4'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='4'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}



input[value='5'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='5'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='5'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='5'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='5'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='5'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='5'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='5'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}

input[value='5'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='5'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}


input[value='6'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='6'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='6'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='6'] ~ seg:nth-of-type(5) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(5):after {
box-shadow: var(--box-shadow-lit);
}

input[value='6'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}

input[value='6'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='6'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}



input[value='7'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='7'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='7'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='7'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='7'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='7'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}



input[value='8'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(5) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(5):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}

input[value='8'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='8'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}


input[value='9'] ~ seg:nth-of-type(1) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(1):after {
box-shadow: var(--box-shadow-lit);
}

input[value='9'] ~ seg:nth-of-type(2) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(2):after {
box-shadow: var(--box-shadow-lit);
}

input[value='9'] ~ seg:nth-of-type(3) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(3):after {
box-shadow: var(--box-shadow-lit);
}

input[value='9'] ~ seg:nth-of-type(4) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(4):after {
box-shadow: var(--box-shadow-lit);
}

input[value='9'] ~ seg:nth-of-type(6) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(6):after {
box-shadow: var(--box-shadow-lit);
}

input[value='9'] ~ seg:nth-of-type(7) {
  background: var(--a-color);
}
input[value='9'] ~ seg:nth-of-type(7):after {
box-shadow: var(--box-shadow-lit);
}
