@font-face {
	font-family: "Haettenschweiler";
	src: url("./fonts/Haettenschweiler-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "BRLN";
	src: url("fonts/britrln.ttf") format("truetype");
}

@font-face {
	font-family: "BRDN";
	src: url("../fonts/britrdn.ttf") format("truetype");
}

@font-face {
	font-family: "Eorzean Calligraphy";
	src: url("../fonts/EorzeanCalligraphy-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Eurostile";
	src: url("../fonts/Eurostile.ttf") format("truetype");
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #111;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	overflow:hidden;
}
#wrap {
	position: relative;
	
}
#app {
	position: relative;
	width: 1920px;
	height: 1080px;
	background: url('template.png') no-repeat center center;
	transform-origin: 0% 00%;
	border-radius: 10px;
	box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
#app>.row.center {
	justify-content: center;
}
.blitzball-map {
	background: rgb(108, 220, 255);
    background: radial-gradient(circle, rgba(108, 220, 255, 1) 0%, rgba(0, 64, 112, 1) 100%);
    border-radius: 100%;
    text-align: center;
    width: 400px;
    height: 178px;
    margin-top: -2em;
    position: relative;
    border: solid rgb(255, 174, 0) 6px;
	align-content: center;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.blitzball-map .markers {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	overflow:visible;
}
.blitzball-map .markers .marker {
	width:2.8em;height:2.8em;
	background:white;
	border-radius: 100%;
}
.blitzball-map .markers.middle {
	margin-left:1em;
	margin-right:1em;
    margin-top: -.25em;
    margin-bottom: -.25em;
} 
.blitzball-map .markers.top, .blitzball-map .markers.bottom {
	margin-left:6em;
	margin-right:6em;
} 
.blitzball-map .markers.bottom .marker,.blitzball-map .markers .marker.p4 {
	border-radius: 0%;
	transform: rotateZ(45deg) scale(.75);
}
.blitzball-map .markers .marker.pc {background-color:rgb(0, 183, 255); transform: scale(1.2);}
.blitzball-map .markers .marker.pa,
.blitzball-map .markers .marker.p1 {background-color:rgb(255, 45, 37);}
.blitzball-map .markers .marker.pb,
.blitzball-map .markers .marker.p2 {background-color:rgb(255, 233, 37);}
.blitzball-map .markers .marker.pd,
.blitzball-map .markers .marker.p4 {background-color:rgb(137, 33, 255);}
.blitzball-map .ball {
	display: inline-block;
	width: 5em;
	height: 5em;
	background-size: contain;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-self: center;
	justify-self: center;
	transition: all .7s ease-in;
	transform: translate(0px, 0px);
}
.blitzball-map .ball.pc {transform: translate(0px, 0px);}
.blitzball-map .ball.pd {transform: translate(-150px, 0px);}
.blitzball-map .ball.p4 {transform: translate(150px, 0px);}
.blitzball-map .ball.pa {transform: translate(-77px, -37px);}
.blitzball-map .ball.p1 {transform: translate(-77px, 37px);}
.blitzball-map .ball.pb {transform: translate(77px, -37px);}
.blitzball-map .ball.p2 {transform: translate(77px, 37px);}
.blitzball-map .ball .graphic.anim-land, .blitzball-map.anim-land {
	animation-name: shake;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}
.blitzball-map .ball .dust {
	background-image: url(anim-dust.gif);
	background-size: contain;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: scale(200%);
	background-repeat: no-repeat;
	display:none;
}
.blitzball-map .ball .dust.show { display:block; }
.blitzball-map .ball .graphic {
	background-image: url(ball.png);
	background-size: contain;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
}
.scorerow {
	align-items: center;
}
.conference {
	width:8em;
	margin-left: 4em;
	margin-right: 4em;
	z-index: 1;
}
.score-display {
	background-color: #181818;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: inset 0 0 5px 5px #121212;
	zoom: .55;
}
.score-display>.s7s {
	transform: skewX(-10deg);
}

body {
	background:#2EB5E5 ;
  }
  
  .sun { 
	position: absolute;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  margin: auto;  
	  width:70px;
	  height:70px;
	  border-radius:50%;	
	  background:white;
	  opacity:0.9;			
	  box-shadow: 0px 0px 40px 15px white;  
  }
  
  .ray_box {
	position: absolute;
	margin: auto;
	  top:0px;
	  left:0;
	  right:0;
	  bottom:0;	
	width:70px;  
	-webkit-animation: ray_anim 120s linear infinite;
	animation: ray_anim 120s linear infinite;
  }
  .ray {  
	  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
		  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
	  margin-left:10px;
	  border-radius:80% 80% 0 0;
	  position:absolute;
	  opacity:0.1;
  }
  
  .ray1 {    
	  height:170px;
	  width:30px;
	 -webkit-transform: rotate(180deg);
	  top:-175px;
	  left: 15px;
  }
  .ray2 {
	  height:100px;
	  width:8px;
	 -webkit-transform: rotate(220deg);
	  top:-90px;
	  left: 75px;
  }
  .ray3 {
	  height:170px;
	  width:50px;
	 -webkit-transform: rotate(250deg);
	  top:-80px;
	  left: 100px;
  }
  .ray4 {
	  height:120px;
	  width:14px;
	 -webkit-transform: rotate(305deg);
	  top:30px;
	  left: 100px;
  }
  .ray5 {
	  height:140px;
	  width:30px;
	 -webkit-transform: rotate(-15deg);
	  top:60px;
	  left: 40px;
  }
  .ray6 {
	  height:90px;
	  width:50px;
	 -webkit-transform: rotate(30deg);
	  top:60px;
	  left: -40px;
  }
  .ray7 {
	  height:180px;
	  width:10px;
	 -webkit-transform: rotate(70deg);
	  top:-35px;
	  left: -40px;
  }
  .ray8 {
	  height:120px;
	  width:30px;
	 -webkit-transform: rotate(100deg);
	  top:-45px;
	  left:-90px;
  }
  .ray9 {
	  height:80px;
	  width:10px;
	 -webkit-transform: rotate(120deg);
	  top:-65px;
	  left:-60px;
  }
  .ray10 {
	  height:190px;
	  width:23px;
	 -webkit-transform: rotate(150deg);
	  top:-185px;
	  left: -60px;
  }
  
  
  @-webkit-keyframes ray_anim { 
		  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
	  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }

/*-------------------------------------*/
elements, data {
	display: none;
}

.display-1 {
	font-style: italic;
	text-transform: uppercase;
	font-weight: 600;
	line-height: .9;
	margin: 0;
}

.display-subtitle {
	font-family: "Eorzean Calligraphy";
	font-size: 3.5em;
	text-transform: uppercase;
	font-style: italic;
	margin: 0;
	padding: 0;
	line-height: .5;
	height: 0px;
	display: block;
	position: relative;
	top: 15px;
	left: -5px;
}

.character-title hr {
	margin-top: 0rem;
	margin-bottom: 0rem;
	border: 0;
	border-top: 2px solid rgb(255, 255, 255);
}

a:not(:hover).silent {
	color: #111b;
}

h1.title {
	color: #fff;
	text-shadow: 0px 2px 4px #000;
	display: inline-block;
	position: relative;
}
h1 .bg {
	background-color: #333b;
	position: absolute;
	left: 0;
	right: 0;
	top: 26px;
	bottom: 17px;
	z-index: -1;
	border-radius: 4px;
}
h2 {
	font-family: "Eurostile";
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .15rem;
	transform: scaleX(1.4);
	transform-origin: left;
	font-size: 1rem;
}
h3 {
	font-weight: 400;
	font-style: italic;
	vertical-align: middle;
}
h4 {
	font-weight: 400;
	font-style: italic;
	display: inline-block;
}
h4.subname {
	display: inline-block;
	opacity: 50%;
	font-size: .75rem;
	margin-right: .5rem;
	margin-bottom: 0;
	vertical-align: super;
}

.double-names {
	padding-right: 0;
}
.double-names h4.subname {
	vertical-align: middle;
	margin-right: 0;
}
.slots {
	transform: skewX(354deg);
}

lamp {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 48px;
	border-radius: 1em;
	transition: all .5s;
}
div > lamp {
	margin: 0px 2px;
}

lamp:empty {
	background: #0e0e0e;
	box-shadow: inset 0px 0px 4px #000000bb, inset 0px 0px 8px #444, 0px 0px 0px #00000000;
}

lamp:empty.off {
	background: #0e0e0e !important;
	box-shadow: inset 0px 0px 4px #000000bb, inset 0px 0px 8px #444, 0px 0px 0px #00000000 !important;
}

lamp:empty.green {
	background: #00ff0a;
	box-shadow: inset 0px 0px 8px 0px #00000094, inset 0px 0px 0px #00000000, 0px 0px 12px #00ff0aa6;
	z-index: 1;
}
lamp > lamp {
	display: block;
	position: absolute;
	height: 24px;
	left: 0;
	right: 0;
}
lamp > lamp:first-child {
	top: 0px;
	border-radius: 1em 1em 0em 0em;
}

lamp > lamp:last-child {
	bottom: 0px;
	border-radius: 0em 0em 1em 1em;
}



.headerIconLink {
	background-color: #333b;
	text-align: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 2.4em;
	color: #fff;
	display: inline-block;
	position: relative;
	transition: color .1s;
}
.headerIconLink img {
	margin-top: -8px;
	transition: opacity .1s;
}
.headerIconLink:hover {
	color: #ccc;
}
.headerIconLink:hover img {
	opacity: 75%;
}

.container.panel {
	background-color: #1f1f1f;
	border-radius: 5px;
	box-shadow: inset 0px 0px 2em #000, inset 0px 0px 10em #333;
}

.btn.btn-default {
	background-color: rgb(255, 110, 134);
	color: white;
	font-weight: 500;
}

.btn.btn-row {
	padding: unset;
	text-align: inherit;
	border-radius: unset;
	position: relative;
}
.btn.btn-row:focus {
	box-shadow: unset;
}

.btn.btn-row:hover {
	background-color: white;
}
.btn.btn-row::after {
	display: inline-block;
	margin-left: -0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 1em solid;
	border-right: 1em solid transparent;
	border-bottom: 0;
	border-left: 1em solid transparent;
	position: absolute;
	right: 1em;
	top: 30%;
	opacity: 30%;
	transition: opacity .2s;
}
.btn.btn-row:hover::after {
	opacity: 80%;
}

.btn.btn-name {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
	padding: 0;
	vertical-align: unset;
	position: relative;
}
.btn.btn-name::after {
	position: absolute;
	top: 60%;
	zoom: 35%;
	opacity: 20%;
}
.btn.btn-name:hover {
	box-shadow: 0 0 0 0.2rem rgb(255 245 198);
}
.btn.btn-name:hover::after {
	opacity: 80%
}
.btn.btn-name:focus {
	background-color: aliceblue;
}
.dropdown-name .dropdown-item {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
}

img.img-round {
	border-radius: 50%;
}

.display-5 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
}

.color-main {
	color: rgb(255, 110, 134);
}
.icon-shadow {
	text-shadow: 0px 2px 1px #0006;
}
small {
	letter-spacing: 2px;
	opacity: 70%;
}

h2 > small {
	margin-left: 1em;
	font-style: italic;
	font-size: .75em;
}

.crop-box {
	overflow: hidden;
}
.crop-box video {
	margin-top: -15.5%;
	margin-bottom: -15.5%;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn.toggle .btn.toggle-handle.btn.btn-default {
	background-color: white;
}